<%provide(:title, "About")%>
<h1>About</h1>
<p>
This site mean to be an avtive record of creature observation in Grinnell College. Everyone is welcome to post their observation records, and the site keeper will edit the observations in to each species' individual page after confrim the observation did happen around Grinnell College.</p>
<p>Current creature introductions are cited from Wikipedia.</p>
