<h1>Bumblebee</h1>
<p>
A bumblebee (or bumble bee, bumble-bee, or humble-bee) is any of over 250 species in the genus Bombus, part of Apidae, one of the bee families. This genus is the only extant group in the tribe Bombini, though a few extinct related genera (e.g., Calyptapis) are known from fossils. They are found primarily in higher altitudes or latitudes in the Northern Hemisphere, although they are also found in South America, where a few lowland tropical species have been identified. 
<a href="https://en.wikipedia.org/wiki/Bumblebee">Reference from Wikipedia</a>
</p>
<p>Observation Record1</p>
<%= image_tag("Bumblebee1.jpg", alt: "Bumblebee1", :size => '302x403') %>
