<h1>Cicada</h1>
<p>
The cicadas (/sɪˈkɑːdə/ or /sɪˈkeɪdə/) are a superfamily, the Cicadoidea, of insects in the order Hemiptera (true bugs). They are in the suborder Auchenorrhyncha,[a] along with smaller jumping bugs such as leafhoppers and froghoppers. The superfamily is divided into two families, Tettigarctidae, with two species in Australia, and Cicadidae, with more than 3,000 species described from around the world; many species remain undescribed.
<a href="https://en.wikipedia.org/wiki/Cicada">Reference from Wikipedia</a>
</p>
<p>Observation Record1</p>
<%= image_tag("Cicada1.jpg", alt: "Cicada1", :size => '302x403') %>


