<h1>Common Grakle</h1>
<p>
The common grackle (Quiscalus quiscula) is a large icterid found in large numbers through much of North America. First described in 1758 by Carl Linnaeus, the common grackle has><a href="https://en.wikipedia.org/wiki/Common_grackle">Reference from Wikipedia</a>
</p>
<p>Observation Record1</p>
<%= image_tag("Common_Grakle1.jpg", alt: "Common_Grakle1", :size => '302x403') %>


