<h1>Firefly</h1>
<p>
The Lampyridae are a family of insects in the beetle order Coleoptera with more than 2,000 described species. They><a href="https://en.wikipedia.org/wiki/Firefly">Reference from Wikipedia</a>
</p>
<p>Observation Record1</p>
<%= image_tag("Firefly.jpg", alt: "Firefly1", :size => '302x403') %>

