<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: #FFFAFA;
}

h1 {
  color: #FF0000;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
</head>
<body>

<h1>StaticPages#home</h1>
<p>
This is the home page for the
<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
sample application.
</p>
