<h1>Northern Cardinal</h1>
<p>
The northern cardinal (Cardinalis cardinalis) is a bird in the genus Cardinalis; it is also known colloquially as the redbird, common cardinal, red cardinal, or just cardinal (which was its name prior to 1985). It can be found in southeastern Canada, through the eastern United States from Maine to Minnesota to Texas, and south through Mexico, Belize, and Guatemala. It is also an introduced species in a few locations such as Bermuda and Hawaii. Its habitat includes woodlands, gardens, shrublands, and wetlands.
<a href="https://en.wikipedia.org/wiki/Northern_cardinal">Reference from Wikipedia</a>
</p>
<p>Observation Record1</p>
<%= image_tag("Northern_Cardinal1.jpg", alt: "Northern_Cardinal1", :size => '302x403') %>


