<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: #FFFAFA;
}

h1 {
  color: #FFOOOO;
  text-align: center;
}

p {
  color: #FF6666;
}
</style>
</head>
<body>
<div class ="center jumbotron">
<h1>Dice Result</h1>
<p><%= @result %></p>
<p><%= link_to "Roll again", '' %></p>
</div>
