@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
body {
padding-top: 60px;
background-color: #fffbf0;
}
section {
overflow: auto;
}
textarea {
resize: vertical;
}
.center {
text-align: center;
}

.center h1 {
margin-bottom: 10px;
}

.image-size {
  max-width: 300px;
  max-height: 500px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
line-height: 1;
}

h1 {
font-size: 3em;
letter-spacing: -2px;
margin-bottom: 30px;
text-align: center;
color: #2e4e7e;
font-weight: bold;
}

h2 {
font-size: 1.2em;
letter-spacing: -1px;
margin-bottom: 30px;
text-align: center;
font-weight: normal;
color: #777;
}

p {
font-size: 2em;
line-height: 3em;
}


/* header */

header {
background-color: #2e4e7e;
height: 15px;
}

#logo {
float: left;
margin-right: 10px;
font-size: 2.7em;
color: #fffbf0;
text-transform: uppercase;
letter-spacing: -1px;
padding-top: 9px;
font-weight: bold;
}

#logo:hover {

color: #fffbf0;
text-decoration: none;
}

/* footer */

footer {
margin-top: 45px;
padding-top: 5px;
border-top: 1px solid #eaeaea;
color: #777;
}
footer a {
color: #555;
}
footer a:hover {
color: #222;
}
footer small {
float: left;
}
footer ul {
float: right;
list-style: none;
}
footer ul li {
float: left;
margin-left: 15px;
}


/* Users index */
.users {
list-style: none;
margin: 0;
li {
overflow: auto;
padding: 10px 0;
border-bottom: 1px solid $gray-lighter;
}
}





/* sidebar */


.gravatar {
float: left;
margin-right: 10px;
}
.gravatar_edit {
margin-top: 15px;
}

.stats {
overflow: auto;
margin-top: 0;
padding: 0;
a {
float: left;
padding: 0 10px;
border-left: 1px solid $gray-lighter;
color: gray;
&:first-child {
padding-left: 0;
border: 0;
}
&:hover {
text-decoration: none;
color: blue;
}
}
strong {
display: block;
}
}

.user_avatars {
overflow: auto;
margin-top: 10px;
.gravatar {
margin: 1px 1px;
}
a {
padding: 0;
}
}
.users.follow {
padding: 0;
}
