<footer class="footer">
<small>
All of the images currently used in this site is taken by the site's owner herself.
</small>
<nav>
<ul>
<li><%= link_to "About", '/about' %></li>
<li><%= link_to "Contact", '/contact' %></li>
</ul>
</nav>
</footer>
